@keyframes slideUp {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    transition: 0.05s;
}

*:focus {

    outline: none;
    border: none;
}

input {
    font: bold;
    color: black;
    text-align: left;
}

@font-face {
    font-family: bold;
    src: url(font/bold.ttf);
}

@font-face {
    font-family: thin;
    src: url(font/regular.ttf);
}

html, body {
    background: -webkit-linear-gradient(#313D67, #161A3F);
    overflow: hidden;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div {
    position: absolute;
    border-radius: 10px;
    animation: 0.5s ease-out 0s 1 slideUp;
}

h1 {
    font-family: bold;
    text-align: center;
}

button {
    transition: 0.15s;
    background: none;
    color: white;
    border: none;

    font-family: bold;
    font-size: 3.5vw;

    width: 25vw;
}

button:hover {
    color: #7BA0FD;
    cursor: pointer;
}

img {
    width: 18vw;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2 {
    width: 11vw;
}

#icon {
    position: absolute;

    left: 3vw;
    top: 5%;

    width: 35%;
    height: 20%;
}

#loadingbox {
    animation: 1s ease-out 0s 1 appear;
    opacity: 1;

    width: 60vw;
    left: 20vw;
    height: 20.5vw;

    top: 39.5vh;
    margin: auto;
    
    z-index: 2;
}

#loadingbg {
    animation: none;
    opacity: 0.5;
    background-color: black;

    width: 1000%;
    height: 1000%;

    border-radius: 0;
    margin: -50%;
    
    z-index: 1;
}

#loadingtxt {
    color: white;
    font-size: 4vw;
}

#loadingtxt2 {
    color: white;
    font-size: 2.6vw;

    margin-top: -3.2vw;
    margin-left: 5%;

    width: 90%;
}

#locationbox {
    transition: 0.4s;
    width: 89.5vw;
    left: 5vw;

    height: 12.5vw;
    top: 4vw;

    margin: auto;
}

#locationselection {
    opacity: 0;
    position: absolute;

    width: 100%;
    height: 100%;

    padding: 0;
    
    left: 0;
    top: 0;

    background: none;

    cursor: pointer;
}

#location {
    color: rgba(255, 255, 255, 1);
    font-size: 6vw;

    margin-top: 0;
}

#location2 {
    font: thin;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3.5vw;
    
    margin-top: -6vw;
}

#tempbox {
    width: 80vw;
    height: 3vh;

    margin-bottom: -0.5vh;

    left: 10vw;
    bottom: 122vw;
}

#temperature {
    font: thin;
    margin-top: -22vw;
    color: rgba(255, 255, 255, 1);
    font-size: 16vw;
}

#feelslike {
    font: thin;
    margin-top: -17vw;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3.2vw;
}

#navbar {
    width: 89.5vw;
    height: 2.8vh;

    left: 5vw;
    bottom: 115vw;
    margin-bottom: 1.5vh;

    display: flex;
    justify-content: center;
}

#mapcontainer {
    width: 100%;
    height: 100%;
}

#mapbox {
    animation: 0.7s ease-out 0s 1 appear;
    display: none;

    width: 89.5vw;
    height: 112vw;

    left: 5vw;
    bottom: 1.5vh;
}

#forecastbox {
    animation: 0.7s ease-out 0s 1 appear;
    display: none;

    width: 89.5vw;
    height: 112vw;

    left: 5vw;
    bottom: 1.5vh;
    
    overflow-x: hidden;
    overflow-y: scroll;
}

.forecastitem {
    background: rgba(40, 46, 62, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.5);

    left: 3.5%;
    top: 3%;

    width: 93%;
    height: 15vw;
}

#f2 {
    top: 21.5vw;
}

#f3 {
    top: 40vw;
}

#f4 {
    top: 59vw;
}

#f5 {
    top: 78vw;
}

#f6 {
    top: 97vw;
}

#f7 {
    top: 116vw;
}

.daytitle {
    color: white;

    position: absolute;
    font-size: 3.5vw;
    
    
    width: 100%;

    left: 0;
    top: -1vw;
}

.ftemp {
    color: white;

    position: absolute;
    font-size: 4vw;
    
    left: 8vw;
    bottom: -0.5vw;
}

.frain {
    color: white;

    position: absolute;
    font-size: 4vw;
    
    right: 2vw;
    bottom: -0.5vw;
}

.forecastimg {
    position: absolute;
    
    left: 1vw;
    top: 6vw;

    width: 7.5vw;
}

.forecastrainimg {
    position: absolute;
    
    right: 12.5vw;
    top: 6vw;

    width: 7.5vw;
}

#widgetbox {
    animation: 0.7s ease-out 0s 1 appear;
    overflow-x: hidden;
    overflow-y: scroll;

    width: 89.5vw;
    height: 112vw;

    left: 5vw;
    bottom: 1.5vh;

    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

::-webkit-scrollbar-thumb {
    position: absolute;
    border-radius: 5vw;
    
    background: white;
    width: 0;
    
    background-clip: content-box;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.bartitle {
    color: rgba(255, 255, 255, 1);
    font-size: 3vw;
    text-align: left;

    margin-left: 2.5vw;
}

.bar {
    background: -webkit-linear-gradient(360deg, #7BA0FD, #466FFF);
    color: white;

    width: 80vw;
    height: 2vw;

    left: 2vw;
}

.aqidot {
    font-size: 4.25vw;

    margin: -1.8vw;
    margin-left: -79vw;
}

#aqibox {
    top: 81.5vw;
    width: 84vw;
}

.uvdot {
    font-size: 4.25vw;

    margin: -1.8vw;
    margin-left: -79vw;
}

#uvbox {
    top: 97vw;
    width: 84vw;
}

#windbox {
    top: 50vw;
    left: 3%;

    width: 28%;
    height: 28vw;
}

#conditionsbox {
    top: 50vw;
    left: 35.5%;

    width: 28%;
    height: 28vw;
}

#humiditybox {
    top: 50vw;
    left: 68%;

    width: 28%;
    height: 28vw;
}

.toptext {
    color: rgba(255, 255, 255, 1);
    font-size: 4.5vw;
    
    margin-top: -1vw;
}

.bottomtext {
    color: rgba(255, 255, 255, 0.25);
    font-size: 2.5vw;

    margin-top: -4.5vw;
}

#raingraph {
    left: 3vw;
    
    width: 54vw;
    height: 44vw;
}

#conditionsimg {
    width: 35vw;
}

#conditionstxt {
    color: white;
    font-size: 5vw;

    margin-top: -2vw;
}

#rainfall {
    left: 61vw;
    
    width: 25vw;
    height: 20vw;
}

#visibility {
    top: 26.5vw;
    left: 61vw;
    
    width: 25vw;
    height: 20vw;
}

.frostedglass {
    background: rgba(40, 46, 62, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.frostedwidget {
    background: rgba(255, 255, 255, 0.025);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.5);

    top: 2.5vw;
    left: 2.5vw;

    width: 86vw;
    height: 12vw;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #000
}